<%- include("header") -%>
    <h2>This is an about page</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore placeat praesentium officiis a nulla numquam
        porro
        voluptatum nisi impedit vitae fugiat nihil ut doloremque et suscipit aspernatur ipsam odit id accusamus, nostrum
        iste quae nesciunt consequatur! Accusamus dignissimos incidunt architecto, consequuntur maiores, dolorum
        dolores,
        nam ipsa ut modi commodi corrupti!</p>
<%- include("footer") -%>